body {
        background-color: lavender;
}

.header {
        margin: 20px 0;
        font-size: 42px;
        font-family: sans-serif;
        text-align: center;
        display: none;
}

#container {
	width: 76%;
	margin: 0 auto;
        
}

#content {
	float: left;
        padding-top: 50px
}

.outputSample {
        font-size: 42px;
        font-family: "Verdana", sans-serif;
        text-align: center;
        color: darkblue;
        cursor: default;
}

#output {
        min-height: 520px;
}

a {
        text-decoration: none;
}

a:hover {
        opacity: .5;
}

.refresh-link {
        margin: 40px auto 0 auto;
        width: fit-content;
        font-size: 24px;
        font-family: "Verdana", sans-serif;
        text-align: center;
        color: blue;
        cursor: pointer;
        user-select: none;
        min-width: 25%;
        display:none;
}

.refresh-link:hover {
        opacity: .5;
}